.container{
    background-color: #ffffff;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}

h1 {
    padding: 25px;
    margin-left: 35px;
    color:white;
    background-color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
